<a href="https://colab.research.google.com/github/seleznevanatserg/Python_HW/blob/main/Python_HW_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Home Work for Lesson 9

Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [ ]:
import pandas as pd

In [ ]:
hw9 = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
hw9['median_house_value'][(hw9['population'] >= 0) & (hw9['population'] <= 500)].mean()

206799.95140186916

In [ ]:
hw9['median_house_value'][(hw9['population'] >= 0) & (hw9['population'] <= 500)].describe()

count      1605.000000
mean     206799.951402
std      131809.535969
min       14999.000000
25%      103300.000000
50%      169500.000000
75%      275000.000000
max      500001.000000
Name: median_house_value, dtype: float64

Задача 42: Узнать какая максимальная households в зоне минимального значения population.

In [ ]:
hw9[hw9['population'] == hw9['population'].min()]['households'].max()

4.0

In [ ]:
hw9[hw9['population'] == hw9['population'].min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.536,350000.0