<a href="https://colab.research.google.com/github/seleznevanatserg/Python_HW/blob/main/Python_HW_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 44

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?


    import random
    lst = ['robot'] * 10
    lst += ['human'] * 10
    random.shuffle(lst)
    data = pd.DataFrame({'whoAmI'lst})
    data.head()

In [4]:
import pandas as pd

In [48]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data

   whoAmI
0   human
1   robot
2   human
3   human
4   robot
5   human
6   human
7   human
8   human
9   robot
10  robot
11  robot
12  robot
13  human
14  robot
15  human
16  robot
17  robot
18  human
19  robot

In [61]:
from sqlalchemy.sql.elements import Null
from sqlalchemy.sql.expression import false
from itertools import count
from numpy.lib.function_base import append

typeUnit = []
typeUnit.append(lst[0])
for i in range(1,len(lst)):
  count = False
  for j in range(0,len(typeUnit)):
    if lst[i] == typeUnit[j]:
      count = True
  if count == False:
    typeUnit.append(lst[i])
type1 = []
type2 = []
for i in range(0,len(lst)):
  flag = 0
  if lst[i] == typeUnit[0]:
    type1.append(True)
    type2.append(False)
  elif lst[i] == typeUnit[1]:
    type1.append(False)
    type2.append(True)
  else:
    type1.append(Null)
    type2.append(Null)

In [63]:
newData = pd.DataFrame({typeUnit[0]: type1, typeUnit[1]: type2})
newData

    human  robot
0    True  False
1   False   True
2    True  False
3    True  False
4   False   True
5    True  False
6    True  False
7    True  False
8    True  False
9   False   True
10  False   True
11  False   True
12  False   True
13   True  False
14  False   True
15   True  False
16  False   True
17  False   True
18   True  False
19  False   True

In [49]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       0      1
2       1      0
3       1      0
4       0      1
5       1      0
6       1      0
7       1      0
8       1      0
9       0      1
10      0      1
11      0      1
12      0      1
13      1      0
14      0      1
15      1      0
16      0      1
17      0      1
18      1      0
19      0      1